/*
 rgb(85, 163, 252) light blue
rgb(21, 11, 77) blue
 */

body {
    background-image: url("../img/white_background2.jpg");
    background-attachment: fixed;
}

#Main {
    background-color: rgba(24, 24, 24, 0.842);
}

#logotype {
    color: whitesmoke;
}


/*
#logotype {
    color: rgb(85, 163, 252);
    background-color: white;
}
*/

header {
    background-color: rgb(85, 163, 252);
}

#nav_bar ul a li {
    color: white;
}

#nav_bar ul li:hover {
    background-color: #333;
    color: white;
}

#nav_bar ul .active_nav {
    background-color: rgb(21, 11, 77);
}

.article h2 {
    color: rgb(85, 163, 252);
}

.article .date {
    color: rgb(38, 134, 245);
}

.article p {
    color: whitesmoke;
}

.article .see_more button {
    background-color: rgb(85, 163, 252);
    color: white;
}

.article .see_more button:hover {
    background-color: rgb(21, 11, 77);
}

#side_bar {
    color: whitesmoke;
}

#side_bar #side1 {
    background-color: whitesmoke;
}

#side_bar #side1 h4 {
    color: #333;
}

#side_bar #side1 form input,
#side_bar #side1 form label {
    color: #333;
}

#side_bar #side1 form input {
    background-color: rgba(51, 51, 51, 0.808);
    color: rgb(85, 163, 252);
}

#side_bar #side1 form input[type="submit"] {
    background-color: rgb(85, 163, 252);
    color: white;
}

#side_bar #side1 form input[type="submit"]:hover {
    background-color: rgb(21, 11, 77);
}

#side_bar #side1 span a {
    color: #333;
}

#side_bar #side2 h4 {
    color: whitesmoke;
}

#side_bar #side2 #logged {
    background-color: rgb(85, 163, 252);
    border-radius: 3px;
}

#side_bar #side2 #username_l {
    color: rgb(202, 0, 0);
}

#side_bar #side2 #logout {
    color: rgb(21, 11, 77);
}

footer {
    color: white;
    background-color: rgba(51, 51, 51, 0.699);
}

footer #theme_button {
    background-color: rgb(85, 163, 252);
    color: whitesmoke;
    border-style: none;
    transition: 300ms;
    height: 30px;
    width: 120px;
}

footer #theme_button:hover {
    background-color: rgb(17, 59, 107);
    color: white;
}

#box h2 {
    color: rgb(85, 163, 252);
}

#accordion h3 {
    border-style: none;
    border-radius: 3px;
    background-color: rgb(31, 17, 112);
    transition: 400ms;
    color: whitesmoke;
}

#accordion div {
    background-color: whitesmoke;
}

#accordion p {
    color: #333;
    text-align: justify;
}

#accordion h3:hover {
    background-color: rgb(0, 0, 0);
}

#circle {
    border: 5px solid rgb(85, 163, 252);
}

#circle #clock {
    color: whitesmoke;
}