    /*
Colors:
rgba(218, 106, 15, 0.801); orange
rgb(17, 59, 107); blue

*/
    
    * {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    
    .clearfix {
        float: none;
        clear: both;
    }
    
    body {
        background-image: url("../img/white_background2.jpg");
        background-attachment: fixed;
    }
    /*----------------------------------------------------------*/
    
    #Main {
        width: 70%;
        margin: 0 auto;
        margin-top: 30px;
        padding: 10px;
    }
    /*----------------------------------------------------------*/
    
    header {
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        height: auto;
        align-items: center;
    }
    
    #logotype {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 28px;
        letter-spacing: 2px;
        height: 60px;
        width: 30%;
        float: left;
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 15%;
    }
    
    nav {
        float: right;
    }
    
    #nav_bar ul {
        line-height: 40px;
    }
    
    #nav_bar ul a {
        height: 40px;
        width: auto;
        text-decoration: none;
        list-style: none;
        transition: all 300ms;
    }
    
    #nav_bar ul a li {
        padding-left: 15px;
        padding-right: 15px;
        display: inline-block;
        height: auto;
        transition: all 300ms;
    }
    /*----------------------------------------------------------*/
    
    #articles {
        width: 70%;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 20px;
        margin-right: 5%;
    }
    
    .article {
        padding: 5px;
        border-bottom: 1.5px solid #333;
        margin-bottom: 10px;
    }
    
    .article h2 {
        font-size: 30px;
    }
    
    .article .date {
        display: block;
        margin-top: 5px;
    }
    
    .article p {
        text-align: justify;
        margin-top: 20px;
        margin-bottom: 15px;
        line-height: 20px;
    }
    
    .article .see_more {
        text-decoration: none;
    }
    
    .article .see_more button {
        display: block;
        float: auto;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 8px;
        width: auto;
        height: 30px;
        border-style: none;
        cursor: pointer;
        border-radius: 5px;
        transition: .3s;
        margin-bottom: 5px;
    }
    /*----------------------------------------------------------*/
    
    #side_bar {
        font-family: Arial, Helvetica, sans-serif;
        width: 20%;
        text-align: justify;
        float: right;
        padding: 5px;
    }
    
    #side_bar #side1 {
        margin-top: 5px;
        padding: 5px;
    }
    
    #side_bar #side1 h4 {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    #side_bar #side1 form input,
    #side_bar #side1 form label {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        width: 90%;
        border-style: none;
    }
    
    #side_bar #side1 form input {
        font-size: auto;
    }
    
    #side_bar #side1 form input[type="submit"] {
        border-style: none;
        margin-top: 15px;
        width: 70px;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 32%;
        transition: 300ms;
    }
    
    #side_bar #side1 span a {
        text-decoration: none;
    }
    
    #side_bar #side2 {
        margin-top: 20px;
        border-top: 2px solid #333;
    }
    
    #side_bar #side2 h4 {
        height: 80%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    #side_bar #side2 #logged {
        padding: 5px;
        height: auto;
        width: auto;
        background-color: rgb(21, 11, 77);
        border-radius: 3px;
    }
    
    #side_bar #side2 #username_l {
        color: red;
    }
    
    #side_bar #side2 #logout {
        text-decoration: none;
        color: rgb(85, 163, 252);
    }
    
    #side_bar #side2 img {
        width: 100%;
        margin-bottom: 20px;
    }
    /*----------------------------------------------------------*/
    
    footer {
        font-family: Arial, Helvetica, sans-serif;
        height: 50px;
        margin: 0px auto;
        width: 68.5%;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 15px;
        align-items: center;
    }
    
    footer span {
        margin-top: 15px;
        float: left;
    }
    
    footer input {
        margin-top: 10px;
        float: right;
        border-radius: 3px;
        cursor: pointer;
    }
    /*----------------------------------------------------------*/
    
    .bx-wrapper,
    .bx-viewport {
        height: 400px !important;
        max-width: 20000px !important;
    }
    /*----------------------------------------------------------*/
    
    #social_media {
        position: fixed;
        top: 35%;
    }
    
    #social_media div {
        height: 50px;
        width: 50px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    
    #social_media div a {
        text-decoration: none;
        padding-top: 10px;
        color: white;
        font-size: 30px;
    }
    
    #b_facebook {
        background-color: rgba(0, 0, 255, 0.901);
    }
    
    #b_whatsapp {
        background-color: rgba(0, 206, 0, 0.901);
    }
    
    #b_twitter {
        background-color: rgba(0, 174, 255, 0.901);
    }
    
    #b_instagram {
        background: -moz-linear-gradient(45deg, rgba(247, 255, 0, 1) 0%, rgba(250, 129, 0, 0.98) 19%, rgba(247, 0, 91, 0.97) 33%, rgba(250, 0, 233, 0.95) 60%, rgba(183, 0, 255, 0.93) 77%, rgba(183, 0, 255, 0.92) 91%, rgba(0, 21, 255, 0.91) 99%, rgba(0, 21, 255, 0.91) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(247, 255, 0, 1)), color-stop(19%, rgba(250, 129, 0, 0.98)), color-stop(33%, rgba(247, 0, 91, 0.97)), color-stop(60%, rgba(250, 0, 233, 0.95)), color-stop(77%, rgba(183, 0, 255, 0.93)), color-stop(91%, rgba(183, 0, 255, 0.92)), color-stop(99%, rgba(0, 21, 255, 0.91)), color-stop(100%, rgba(0, 21, 255, 0.91)));
        background: -webkit-linear-gradient(45deg, rgba(247, 255, 0, 1) 0%, rgba(250, 129, 0, 0.98) 19%, rgba(247, 0, 91, 0.97) 33%, rgba(250, 0, 233, 0.95) 60%, rgba(183, 0, 255, 0.93) 77%, rgba(183, 0, 255, 0.92) 91%, rgba(0, 21, 255, 0.91) 99%, rgba(0, 21, 255, 0.91) 100%);
    }
    /*----------------------------------------------------------*/
    
    @media (max-width: 1000px) {
        #logotype {
            margin-right: 10%x;
        }
    }
    /*----------------------------------------------------------*/
    
    @media (max-width: 900px) {
        header {
            display: block;
        }
        #logotype {
            margin-left: 30%;
            justify-content: center;
            width: 100%;
        }
        nav {
            width: 100%;
        }
        nav ul {
            margin-left: 20%;
        }
        #articles {
            width: 65%;
            margin-right: 10%;
        }
        #side_bar {
            width: 22%;
        }
        #side_bar #side1 h4 {
            font-size: 16px;
        }
        #side_bar #side1 label,
        #side_bar #side1 form input {
            font-size: 14;
        }
        #side_bar #side1 form #l_enter {
            margin-left: 0;
        }
        .bx-wrapper,
        .bx-viewport {
            height: 300px !important;
        }
    }
    /*----------------------------------------------------------*/
    
    @media (max-width: 700px) {
        #logtype {
            font-size: 25px;
        }
        #social_media {
            display: none;
            width: 0%;
        }
        #Main {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
        .bx-wrapper,
        .bx-viewport {
            height: 230px !important;
        }
        footer {
            width: 77%;
        }
    }
    /*----------------------------------------------------------*/
    
    @media (max-width: 600px) {
        #content {
            display: flex;
            flex-direction: column;
        }
        #logotype {
            font-size: 22px;
        }
        .menu_toggle {
            display: block;
            width: 40px;
            height: 40px;
            margin: 10px;
            background-color: lawngreen;
            float: right;
            text-align: center;
            font-size: 30px;
        }
        #nav_bar ul {
            display: flex;
            flex-direction: column;
        }
        #nav_bar ul a li {
            width: 90%;
        }
        #side_bar {
            width: 100%;
            float: none;
            height: fit-content;
        }
        #articles {
            float: none;
            width: 80%;
        }
        #side_bar #side2 img,
        #side_bar #side2 p {
            display: none;
        }
        .bx-wrapper,
        .bx-viewport {
            height: 190px !important;
        }
        footer {
            width: 75%;
        }
        #logged {
            align-items: center;
        }
    }